<code-block
    x-data=""
>
    {% if block.description|length %}
        <h3>{{ block.description }}</h3>
    {% endif %}
    <h4>
        <span method="{{ block.method|upper }}">{{ block.method|upper }}</span>
        <span>{{ block.route }}</span>
    </h4>
    <source-code x-ref="code" lang="bash">{{ block.source }}</source-code>
    <copy-button
        x-on:click="navigator.clipboard.writeText($refs.code.innerText)"
        style="top: calc(36px + 0.5rem);"
    >
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /></svg>
        <span>Copy</span>
    </copy-button>
</code-block>
