{% import '_macros/attrs.twig' as attrs %}

{% set endpoint = block.endpoint[0] %}
<div class="w-full" grid="columns 2" style="gap:4rem;">
    <div>
        <div flex="row nowrap items-center" class="mb-1">
            <method-chip method="{{ endpoint.method|upper }}">{{ endpoint.method|upper }}</method-chip>
            <span style="font-style: italic;" class="font-sm font-mono">{{ endpoint.route }}</span>
        </div>
        <h2 id="{{ endpoint.heading|kebab }}" class="font-white font-md font-medium mb-0.5">{{ endpoint.heading }}</h2>
        <rich-text class="font-sm">{{ endpoint.copy }}</rich-text>
        <h3 class="font-base font-white font-medium mt-2">Parameters</h3>
        {% if endpoint.params|length %}
            {{ attrs.list(endpoint.params) }}
        {% else %}
            <p class="font-sm mt-0.5">No parameters.</p>
        {% endif %}
        <h3 class="font-base font-white font-medium mt-2">Attributes</h3>
        {% if endpoint.attrs|length %}
            {{ attrs.list(endpoint.attrs) }}
        {% else %}
            <p class="font-sm mt-0.5">No attributes.</p>
        {% endif %}
        <h3 class="font-base font-white font-medium mt-2">Returns</h3>
        <rich-text>{{ endpoint.returns }}</rich-text>
    </div>
    <div>
        <code-block 
            class="mb-2"
            x-data=""
        >
            <h3>Request</h3>
            <h4>
                <span method="{{ endpoint.method|upper }}">{{ endpoint.method|upper }}</span>
                <span>{{ endpoint.route }}</span>
            </h4>
            <source-code x-ref="code" lang="bash">{{ endpoint.request }}</source-code>
            <copy-button
                x-on:click="navigator.clipboard.writeText($refs.code.innerText)"
                style="top: calc(50px + 36px + 0.5rem);"
            >
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /></svg>
                <span>Copy</span>
            </copy-button>
        </code-block>
        {% if endpoint.response|length %}
            <code-block
                x-data=""
            >
                <h3>Response</h3>
                <source-code x-ref="code" lang="json">{{ endpoint.response }}</source-code>
                <copy-button
                    x-on:click="navigator.clipboard.writeText($refs.code.innerText)"
                    style="top: calc(50px + 0.5rem);"
                >
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /></svg>
                    <span>Copy</span>
                </copy-button>
            </code-block>
        {% endif %}
    </div>
</div>
