{% import '_macros/attrs.twig' as attrs %}

{% set model = block.model[0] %}
<div class="w-full" grid="columns 2" style="gap:4rem;">
    <div>
        <heading-observer class="block w-full">
            <h2 id="{{ model.heading|kebab }}" class="font-white font-md font-medium mb-0.5">{{ model.heading }}</h2>
        </heading-observer>
        <rich-text class="font-sm">{{ model.copy }}</rich-text>
        {{ attrs.list(model.attrs) }}        
    </div>
    <div>
        {% if model.request|length %}
            <code-block class="mb-2">
                {% if model.requestLabel %}
                    <h3>{{ model.requestLabel }}</h3>
                {% endif %}
                <source-code lang="bash">{{ model.request }}</source-code>
            </code-block>
        {% endif %}
        <code-block
            x-data=""
        >
            <h3>{{ model.responseLabel }}</h3>
            <source-code x-ref="code" lang="json">{{ model.response }}</source-code>
            <copy-button
                x-on:click="navigator.clipboard.writeText($refs.code.innerText)"
                style="top: calc(50px + 0.5rem);"
            >
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /></svg>
                <span>Copy</span>
            </copy-button>
        </code-block>
    </div>
</div>
