{% macro list(attrs, parentName = "") %}
    <attribute-list>
        {% for item in attrs %}
            <attribute-list-item>
                <div flex="row nowrap items-center">
                    <code>{{ parentName }}{{ item.attrName }}</code>
                    {% if item.isNullable %}
                        <span>nullable</span>
                    {% endif %}
                    {% if item.attrType|length %}
                        <span>{{ item.attrType[0].title|lower }}</span>
                    {% endif %}
                    {% if item.isRequired %}
                        <span class="font-amber-400">required</span>
                    {% endif %}
                </div>
                {% if item.description|length %}
                    <rich-text class="mt-0.5 font-sm">{{ item.description }}</rich-text>
                {% endif %}
                {% if item.enumValues|length %}
                    <enum-values class="mt-0.5">
                        <h3>Possible enum values</h3>
                        <enums-table>
                            {% for row in item.enumValues %}
                                <div>
                                    <code>{{ row.value }}</code>
                                    <span>{{ row.description }}</span>
                                </div>
                            {% endfor %}
                        </enums-table>
                    </enum-values>
                {% endif %}
                {% if item.attrs|length %}
                    <div
                        x-data="{ open: false }"
                    >
                        <button
                            x-on:click="open = !open"
                            class="bttn dull mt-0.5 font-xs font-mono"
                            x-show="!open"
                        >
                            Expand object
                            <svg class="ml-0.25" xmlns="http://www.w3.org/2000/svg"  width="14"  height="14"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        </button>
                        {% if parentName|length %}
                            {% set parentName = parentName ~ item.attrName ~ "." %}
                        {% else %}
                            {% set parentName = item.attrName ~ "." %}
                        {% endif %}
                        <div x-show="open" class="mt-1 px-1 border-1 border-solid border-grey-800 radius-0.5">
                            {{ _self.list(item.attrs, parentName) }}
                        </div>
                    </div>
                {% endif %}
            </attribute-list-item>
        {% endfor %}
    </attribute-list>
{% endmacro %}
