{% if entry is defined %}
    {% set page = entry %}
{% elseif category is defined %}
    {% set page = category %}
{% elseif product is defined %}
    {% set page = product %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>API Documentation</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, viewport-fit=cover" />

        <link href="https://unpkg.com/brixi@^0.8/brixi.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="/css/rich-text.css" />

        <script defer src="https://unpkg.com/htmx.org@1.9.11"></script>
    </head>
    <body>
        <nav hx-boost="true">
            <a id="logo" href="/">
                <svg viewBox="0 0 99 24" aria-hidden="true"><path class="font-emerald-400" fill="currentColor" d="M16 8a5 5 0 0 0-5-5H5a5 5 0 0 0-5 5v13.927a1 1 0 0 0 1.623.782l3.684-2.93a4 4 0 0 1 2.49-.87H11a5 5 0 0 0 5-5V8Z"></path><path fill="currentColor" class="dark:font-white" d="M26.538 18h2.654v-3.999h2.576c2.672 0 4.456-1.723 4.456-4.333V9.65c0-2.61-1.784-4.333-4.456-4.333h-5.23V18Zm4.58-10.582c1.52 0 2.416.8 2.416 2.241v.018c0 1.441-.896 2.25-2.417 2.25h-1.925V7.418h1.925ZM38.051 18h2.566v-5.414c0-1.371.923-2.206 2.382-2.206.396 0 .791.061 1.178.15V8.287a3.843 3.843 0 0 0-.958-.123c-1.257 0-2.136.615-2.443 1.661h-.159V8.323h-2.566V18Zm11.55.202c2.979 0 4.772-1.88 4.772-5.036v-.018c0-3.128-1.82-5.036-4.773-5.036-2.953 0-4.772 1.916-4.772 5.036v.018c0 3.146 1.793 5.036 4.772 5.036Zm0-2.013c-1.372 0-2.145-1.116-2.145-3.023v-.018c0-1.89.782-3.023 2.144-3.023 1.354 0 2.145 1.134 2.145 3.023v.018c0 1.907-.782 3.023-2.145 3.023Zm10.52 1.846c.492 0 .967-.053 1.283-.114v-1.907a6.057 6.057 0 0 1-.755.044c-.87 0-1.24-.387-1.24-1.257v-4.544h1.995V8.323H59.41V6.012h-2.592v2.311h-1.495v1.934h1.495v5.133c0 1.88.949 2.645 3.304 2.645Zm7.287.167c2.98 0 4.772-1.88 4.772-5.036v-.018c0-3.128-1.82-5.036-4.772-5.036-2.954 0-4.773 1.916-4.773 5.036v.018c0 3.146 1.793 5.036 4.773 5.036Zm0-2.013c-1.372 0-2.145-1.116-2.145-3.023v-.018c0-1.89.782-3.023 2.145-3.023 1.353 0 2.144 1.134 2.144 3.023v.018c0 1.907-.782 3.023-2.144 3.023Zm10.767 2.013c2.522 0 4.034-1.353 4.297-3.463l.01-.053h-2.374l-.017.036c-.229.966-.853 1.467-1.908 1.467-1.37 0-2.135-1.08-2.135-3.04v-.018c0-1.934.755-3.006 2.135-3.006 1.099 0 1.74.615 1.908 1.556l.008.017h2.391v-.026c-.228-2.162-1.749-3.56-4.315-3.56-3.033 0-4.738 1.837-4.738 5.019v.017c0 3.217 1.714 5.054 4.738 5.054Zm10.257 0c2.98 0 4.772-1.88 4.772-5.036v-.018c0-3.128-1.82-5.036-4.772-5.036-2.953 0-4.773 1.916-4.773 5.036v.018c0 3.146 1.793 5.036 4.773 5.036Zm0-2.013c-1.371 0-2.145-1.116-2.145-3.023v-.018c0-1.89.782-3.023 2.145-3.023 1.353 0 2.144 1.134 2.144 3.023v.018c0 1.907-.782 3.023-2.144 3.023ZM95.025 18h2.566V4.623h-2.566V18Z"></path></svg>
            </a>
            {% set nav = craft.entries.section('navigation').with(["children","children.document"]).level(1).all() %}
            {% for item in nav %}
                {% if item.type == "group" %}
                    {% set children = item.children %}
                    <h2 class="block font-white font-medium font-sm mb-0.75">{{ item.title }}</h2>
                    <ul class="mb-1.5">
                        {% for child in children %}
                            {% set isCurrentPage = page.id == child.document[0].id %}
                            <li class="{{ isCurrentPage ? 'is-active' : ''}}">
                                <a href="/{{ child.document[0].slug }}" class="font-sm block">{{ child.title }}</a>
                                <div class="page-jumps">
                                    {% if child.children|length %}
                                        {% for subChild in child.children %}
                                            <a href="#{{ subChild.hash }}" class="font-sm block">{{ subChild.title }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </nav>
        <header>
            <button class="search" flex="row nowrap items-center justify-between">
                <div class="h-full" flex="row nowrap items-center">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                    <span class="font-sm">Find something...</span>
                </div>
                <span class="font-grey-500 font-xs">Ctrl K</span>
            </button>
        </header>
        <main>
            <div style="z-index:-1;position: absolute; left: 50%; top: -12rem; height: 25rem; width: 81.25rem; transform: translateX(-50%);">
                <div style="position: absolute; inset: 0; background-image: linear-gradient(white, transparent); opacity: 0.4; mask-image: radial-gradient(farthest-side at top, white, transparent); background-image: linear-gradient(to right, #36b49f, #DBFF75); opacity: 0.4; mask-image: radial-gradient(farthest-side at top, white, transparent);">
                <svg aria-hidden="true" style="position: absolute; inset-x: 0; inset-y: -50%; height: 200%; width: 100%; transform: skewY(-18deg); fill: rgba(0,0,0,0.4); stroke: rgba(255,255,255,0.5); mix-blend-mode: overlay;">
                    <defs>
                        <pattern id=":S1:" width="72" height="56" patternUnits="userSpaceOnUse" x="-12" y="4">
                            <path d="M.5 56V.5H72" fill="none"></path>
                        </pattern>
                    </defs>
                    <rect width="100%" height="100%" stroke-width="0" fill="url(#:S1:)"></rect>
                    <svg x="-12" y="4" style="overflow: visible;" fill="rgba(255, 255, 255, 0.25)">
                        <rect stroke-width="0" width="73" height="57" x="288" y="168"></rect>
                        <rect stroke-width="0" width="73" height="57" x="144" y="56"></rect>
                        <rect stroke-width="0" width="73" height="57" x="504" y="115"></rect>
                        <rect stroke-width="0" width="73" height="57" x="720" y="280"></rect>
                    </svg>
                </svg>
            </div>
            </div>
            <div class="max-w-full w-1024 mx-auto px-2 py-4">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>
